
:root{
    --mainColor: rgba(0, 0, 0, 0.94);
    --secondColor: crimson;
    --mainFont: 'Oleo Script', cursive;
}

body{
    background-color: var(--mainColor);
    overflow: hidden;
}

a{
    text-decoration: none;
}

#loading{
    z-index: 99999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondColor);
    background-color: var(--mainColor);
}

.main-bg{
    background-color: var(--secondColor);
}

#topBtn{
    cursor: pointer;
    display: none;
    z-index: 9999;
}

/* navbar */

aside{
    position: fixed;
    top: 0;
    z-index: 9999;
    font-family: var(--mainFont);
    letter-spacing: 0.075rem;
    width: 300px;
}
.bg-nav{
    background-color: rgba(0, 0, 0, 0.9);
}
.list .anchors{
    padding-top: 5px;
    overflow: hidden;
}
.list .anchors li{
    padding-top: 20px;
    font-size: 1.25rem;
}
.list ul li a{
    color: #fff;
    transition: all 0.25s;
}
.active{
    color: var(--secondColor) !important;
}
.list ul li a:hover , .view span:hover{
    color: var(--secondColor);
}
.list .links li{
    font-size: 1.1rem;
}
.view{
    background: rgba(255, 255, 255, 0.85);
}
.view span{
    transition: all 0.25s;
}
.view img , .view span{
    cursor: pointer;
}
#toggle{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 3.5px;
    background-color: #000;
    transition: all 0.2s;
    transform: translateY(-8px);
    box-shadow: 6px 8px 0 #000;
}
#toggle.convert::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 #000;
}
#toggle::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3.5px;
    background-color: #000;
    transition: all 0.2s;
    transform: translateY(8px);
}
#toggle.convert::after{
    transform: translateY(0px) rotate(-45deg);
}

/* header */

.caption h1 , .movTitle h2 , .movTitle h6 , .movTitle h5{
    font-family: var(--mainFont);
    letter-spacing: 0.125rem;
}
.caption h1 , .total h2{
    color: rgba(0, 153, 204, 0.805);
    text-shadow: 0px 5px 15px rgba(14, 186, 213, 0.5);
}
.caption input{
    border: none;
    border-bottom: 1px rgba(170, 170, 170, 0.412) solid;
    padding-bottom: 10px !important;
    color: rgba(170, 170, 170, 0.612) !important;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
/* .caption input:focus{
    box-shadow: none !important;
} */

.movie img{
    box-shadow: 0px 5px 50px rgb(0 0 0 / 50%);
    border-radius: 10px;
    height: 550px;
}
.movie{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.movTitle{
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    transition: all 1s ease;
}
.movie:hover .movTitle{
    opacity: 1;
    top: 0;
}
.movTitle p{
    font-weight: 500;
}
#film{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 700px){
    .caption h1{
        width: 80%;
        margin-right: auto;
        margin-left: 75px;
    }
    #film{
        width: 80%;
        margin-left: 75px;
    }
    .caption input{
        width: 75%;
        margin-right: auto;
        margin-left: 80px;
    }
}

/* section contact */

.total h2{
    width: 90%;
}
.cont-contact input , .cont-contact .alert{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.cont-contact input{
    border: none;
    border-bottom: 1px rgba(170, 170, 170, 0.412) solid;
    padding-bottom: 10px !important;
    color: rgba(170, 170, 170, 0.612) !important;
}
.cont-contact button{
    box-shadow: none !important;
}

@media screen and (max-width: 700px){
    .total h2{
        width: 75%;
    }
    .cont-contact input , .cont-contact .alert{
        width: 75% ;
        margin-left: 80px !important;
    }
}